body {
    margin: 0px;
    background-image: url("img/greendots.png");
    /* add gradient maybe */
    display: flex;
    align-items: center;
    justify-content: center;
    

}

h1{
    color:rgb(0, 0, 0);
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

p{
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

#task-container{
    width: 70%; 
    border-radius: 20px;
    padding:10px;
    background-color: rgb(83, 146, 175);
    height:100%;
    border: 5px rgb(126, 70, 33) solid;
}

#sloth-container{
    border: 5px rgb(126, 70, 33) solid;
    width: 30%; 
    padding:10px;

    background-color: rgb(83, 146, 175);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

#sloth-container img{
    width: 50%;
}


.task{
    background-color:rgb(106, 182, 206);
    border-radius: 10px;
    padding: 10px;
}


.main {
    border: 10px rgb(126, 70, 33) solid;
    box-shadow: 10px 5px 5px rgba(8, 87, 32, 0.5);
    padding: 30px;
    padding-bottom: 50px;
    margin: 40px;
    background-color: rgb(233, 222, 123);
    border-radius: 50px;
    height: 80%;
    width: 80%;
    
}


.horizontal-flex div {
    margin: 0px;
    
}

.horizontal-flex{
    background-color:rgba(255, 255, 255, 0);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    height:100%;

}

.vertical-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 65%;
    align-items: stretch;
}


#title-container {
    border: 5px rgb(126, 70, 33) solid;
    background-color: rgb(255, 248, 216);
    padding: 10px;
    border-radius: 20px;
}